@mixin partiLogoUrl($partibeteckning) {
  background-image: url("/assets/images/Partisymboler/logo-#{$partibeteckning}-large.jpg");
}

.person {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 19px;

  .details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .personfilter {
    &__partibeteckningar {
      display: flex;
      justify-content: space-between;

      &__parti {
        &__logo {
          display: block;

          &:after {
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            background-size: 32px 32px;
            background-position-x: 3px;
            background-position-y: 3px;
            opacity: 0.2;
            border: 1px solid black;
            border-radius: 20px;
            background-repeat: no-repeat;
          }

          &--selected {
            &:after {
              opacity: 1;
            }
          }

          &--c {
            &:after {
              @include partiLogoUrl(c);
              border-color: #134838;
            }
          }

          &--kd {
            &:after {
              @include partiLogoUrl(kd);
              background-size: 26px 26px;
              background-position-x: 6px;
              background-position-y: 6px;
              border-color: #015ea1;
            }
          }

          &--l {
            &:after {
              @include partiLogoUrl(l);
              border-color: #0168b3;
            }
          }

          &--m {
            &:after {
              @include partiLogoUrl(m);
              border-color: #8ed9f9;
            }
          }

          &--mp {
            &:after {
              @include partiLogoUrl(mp);
              border-color: #0faa4c;
            }
          }

          &--s {
            &:after {
              @include partiLogoUrl(s);
              border-color: #df000f;
            }
          }

          &--sd {
            &:after {
              @include partiLogoUrl(sd);
              border-color: #ffdf00;
            }
          }

          &--v {
            &:after {
              @include partiLogoUrl(v);
              border-color: #e5302b;
            }
          }
        }
      }
    }
  }

}

.loading-spinner {
  align-self: center;
}

