.person {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 19px;

  .details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
}

.loading-spinner {
  align-self: center;
}
