<div class="root-container">
  <app-personfilter (filterVisiblePersonsRequested)="filterList($event)"></app-personfilter>

  <div *ngIf="loading" class="spinner-border" role="status">
  </div>

    <div (click)="goToPerson(person.personId)" class="person" *ngFor="let person of filteredPersons">
      <div class="person-image">
        <img [src]=person.bildUrl alt="image">
      </div>
      <div class="details">
        <span>{{ person.tilltalsnamn }} {{ person.efternamn }}</span>
        <span>{{getPartiName(person.parti)}}</span>
      </div>
    </div>
</div>
