<div class="root-container">
  <ng-container *ngIf="person">
    <div class="header">
      <div class="top-container">
        <div class="person-image">
          <img [src]=person.bildUrl alt="image">
        </div>
        <div class="details">
          <h3>{{ person.tilltalsnamn }} {{ person.efternamn }}</h3>
          Tjänstgörande riksdagsledamot
        </div>
      </div>
      <div class="bottom-container">
        <span class="parti">{{getPartiName(person.parti)}}</span>
        <span>{{person.valkrets}}</span>
      </div>
    </div>
    <div class="line"></div>
    <div *ngIf="loading" class="spinner-border loading-spinner" role="status">
    </div>
    <div class="content-container">
      <!--<span class="vote-presence-label">Röstnärvaro: 84 %</span>-->
      <div *ngFor="let vote of voteringar" class="vote-container" (click)="goToVote(vote)">
        {{vote.voteringFraga.titel}}
        <div class="vote-info">
          <div [ngSwitch]="vote.voteringSvar.rost">
            <div *ngSwitchCase="'Ja'" class="vote">
              <div class="circle yes-circle"></div>
              <div>
                Röstade ja
              </div>
            </div>
            <div *ngSwitchCase="'Nej'" class="vote">
              <div class="circle no-circle">
              </div>
              Röstade nej
            </div>
            <div *ngSwitchCase="'Avstår'" class="vote">
              <div class="circle blank-circle"></div>
              Röstade blankt
            </div>
            <div *ngSwitchCase="'Frånvarande'" class="vote">
              <div class="circle absent-circle"></div>
              Frånvarande
            </div>
          </div>
          <div class="vote-date">
            - {{vote.voteringFraga.datum.substr(0, 10)}}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
